<a href="https://colab.research.google.com/github/himaneetripathi/SalesPrediction/blob/main/himanee_02_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Core Project

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/drive")
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive
Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/sales_predictions.csv')
df

In [6]:
df.shape     #Gives count of rows and columns of data

(8523, 12)

In [ ]:
df.dtypes          #to get info about type of data

In [ ]:
df.info()        #to get info about the data

In [ ]:
dups = df.duplicated()       #to identify duplicates
dups

In [ ]:
df1 = df.drop_duplicates()      #to drop duplicates
df1

In [21]:
df1.isna().sum()      #finding missing value and count

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df1['Outlet_Size'].fillna('Medium' , inplace = True)     #replacing missing value
df1

In [23]:
df1['Item_Weight'].mean()

12.857645184136183

In [ ]:
df1['Item_Weight'].fillna( 12.86 , inplace = True)     #Replacing missing value with mean
df1

In [ ]:
df1.isna().sum()       # To Confirm that there are no missing values after addressing them.

In [ ]:
# To fix any inconsistent categories of data (example: fix cat, Cat, and cats
df1.loc['LF' , 'Item_Fat_Content'] = 'Low Fat'
df1

In [28]:
df1.loc['reg' , 'Item_Fat_Content'] = 'Regular'
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004.0,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997.0,Small,Tier 1,Supermarket Type1,765.6700
LF,NaN,NaN,Low Fat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reg,NaN,NaN,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1.describe()     #For any numerical columns, obtain the summary statistics of each (min, max, mean)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858049,0.066132,140.992782,1997.831867,2181.288914
std,4.226124,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.860000,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800